/*base*/
@import './base/base.css';

/* 3rd-party */
@import './3rd-party/font-awesome.min.css';

/*components*/

/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/

.calendar {
    filter: none;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    background-color:#EBEEF5;
    height: 100vh;
    width:calc(100% - 100px);
    margin-left: 100px;
    min-width: 300px;
} 

@media (max-width: 1199px) {
    .hero {
        flex-direction: column-reverse;
        align-items:center;
        justify-content:flex-end;
        gap: 0;
    }
    .hero .bar {
        padding: 10px 20px 10px 20px;
    }
    .hero .calendars {
        margin-top: 0;
    }
}
@media (min-width: 1199px) {
    
    .container .hero .bars .bar-php::before {
       left: calc(100% - 70px);
    }
}

.hero .bars {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 35vw;
    height: 35vw;
    min-width: 400px;
    min-height: 400px;
    gap: 20px;
    margin-bottom: 200px;
}
.hero .bars .bar-php::before {
    content: '+';
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 70px;
    height: 70px;
    background-color:#02577A;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    border: transparent;
    border-radius: 50%;  
}

.hero .bars .bar-php:hover::before {
    background-color: #EBEEF5;
    border: 1px solid #02577A;
    color: #02577A;
    cursor: pointer;
}
.hero .bar {
    position: relative;
    padding: 20px 40px 20px 40px;
    background-color:#FFF;
    border-radius: 20px;
    
}
.hero .bar h1 {
    font-size: 26px;
    line-height: 36px;
}
.hero .bar p {
    font-size: 20px;
    line-height: 32px;
    color: #C4C4C4;
}
.hero .bar::after {
    position: absolute;
    content: '...';
    font-size: 30px;
    top: 0px;
    right: 40px;
}
.hero .bar:hover::after {
    color: #02577A;
    cursor: pointer;
}
.hero .bars .bar hr {
    width: 200px;
    height: 20px;
    border: transparent;
    border-radius: 25px;
    margin-top: 10px;
}
.hero .bars .bar-scss hr {
    background-color: #FC0000;
}
.hero .bars .bar-react hr {
     background-color:#FCE300;
 }
 .hero .bars .bar-php hr {
     background-color:#51FC00;
 }

.containerC {
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 700;
    background-color:#fff;
    border:transparent;
    border-radius: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.calendarC {
    width:35rem;
    height: 35rem;
    background-color:  #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.month {
    width: 100%;
    height: 8rem;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.2rem;
    font-weight: 400;
}

.weekdays {
    width: 100%;
    height: 2rem;
    padding:  0 0.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(34.2rem / 7);
    color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.days {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1rem;
    margin: 0.3rem;
    width: calc(30.2rem / 7);
    height: calc(30.2rem / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.prev-date,
.next-date {
    color: #C4C4C4;
}
.days div:hover:not(.today) {
    background-color: #EBEEF5;
    color: #02577A;
    border: 1px solid #02577A;
    cursor: pointer;
}
.today {
    background-color: #02577A;
    color: #fff;
}
