/*base*/
@import '../base/base.css';
@import '../base/nav.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/*components*/

/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/

.calendar-link {
    filter: none;
}
.hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    background-color:var(--collor-background);
    height: 100vh;
    width:calc(100% - 100px);
    margin-left: 100px;
    padding-top: 40px;
    align-items:center;
    justify-content:flex-end;
} 
.bars {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: 1.4vw;
    width: 38em;
    height: auto;
    gap: 30px;
}
.hero .bars .btn {
    content: '+';
    position: absolute;
    right: 0;
    bottom: -2.5em;
    width: 1.6em;
    height: 1.6em;
    background-color:var(--collor-main);
    color: var(--collor-second);
    font-size: 3.5em;
    text-align: center;
    line-height: 1.6em;
    border: transparent;
    border-radius: 50%;  
}
.hero .bars .btn:hover {
    background-color: var(--collor-background);
    border: 1px solid var(--collor-main);
    color: var(--collor-main);
    cursor: pointer;
}
.hero .bar {
    position: relative;
    background-color:var(--collor-second);
    border-radius: 2em;
    display: grid;
    grid-template-rows: 3em 2em 1.5em;
    align-content: space-between;
    padding: 0.7em 2.5em 0.7em 2.5em;
    align-items: center;  
}
.hero .bar h1 {
    font-size: 2em;
    line-height: 2em;
}
.hero .bar p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--collor-shade);
}
.hero .bar i {
    position: absolute;
    top: 0.5em;
    right: 2em;
    font-size: 1.8em;
   
}
.hero .bar i:hover {
    color: var(--collor-main);
    cursor: pointer;
}
.hero .bars .bar hr {
    width: 15em;
    height: 1.1em;
    border: transparent;
    border-radius: 1.8em;  
}
.hero .bars .bar-scss hr {
    background-color: #FC0000;
}
.hero .bars .bar-react hr {
     background-color:#FCE300;
 }
 .hero .bars .bar-php hr {
     background-color:#51FC00;
 }
.cont {
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 700;
}
.calendars {
    font-size: 1.4vw;
    padding: 3em 4em 0 4em;
    width: 38em;
    height: 40em;
    background-color:  var(--collor-second);
    border:transparent;
    border-radius: 2em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
    .calendars,
    .hero .bars {
        font-size: 1vw;
        height: 40em;
    }
    .hero {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center; 
    }
    .hero .bar {
        padding: 1.5em 3em 1.5em 3em;
        align-items: start;
    }
    .hero .bar h1 {
        display: grid;
        align-self: end;
    }
    .hero .bars .btn {
        left: 0;
    }
    .hero .bars .bar hr {
        height: 1.5em;
    }
    .hero .bar i {
        top: 1.2em;
    }
}
.month {
    width: 100%;
    height: 5em;
    background-color:var(--collor-second);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4em;
    text-align: center;
    border:transparent; 
}
.month i {
    font-size: 2em;
    cursor: pointer;
}
.month i:hover {
    color: #02577A;
}
.month h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 100%; 
}
.month p {
    font-size: 2em;
    font-weight: 400;
}
.weekdays {
    width: 100%;
    height: 4em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--collor-shade);
}
.weekdays div {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    width: calc(100% / 7);
    color: var(--collor-shade);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.days {
    width: 100%;
    height:calc(100% - 11em);
    display: flex;
    flex-wrap:wrap;
    padding-top: 1em;
    justify-content: space-between;
    align-content: flex-start;
}
.days div {
    font-size: 1.5em;
    font-weight: 800;
    width: calc(100% / 7);
    height: calc(100%  / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s; 
}
.prev-date,
.next-date {
    color: var(--collor-shade);
}
.days div:hover:not(.today) {
    background-color: var(--collor-background);
    color: var(--collor-main);
    border: 1px solid var(--collor-main);
    cursor: pointer;
}
.today {
    background-color: var(--collor-main);
    color: var(--collor-second);
}