

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
.content {
    width: 1440px;
    height: 1385px;
    background: #EBEEF5;
    position: relative;
    margin-left: calc(50% - 720px);
}
    
.img-bg {    
    width: 100px;
    height: 1385px;
    left: 0px;
    top: calc(50% - 906px / 2 );
    background: #F7F6FF;
    transition: max-width 0.4s ease-in 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
        
.img-bg:hover {   
    width: 206px;
    height: 1385px;
    left: 0px;
    top: 0px;
    background: #F7F6FF;
    transition: max-width 0.4s ease-in 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-logo {
    position: relative;
    width: 68px;
    height: 34px;
    left: 16px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.hr {
    position: relative;
    width: 68px;
    height: 2px;
    top: 60px;
    border:none;
    margin: auto;
    background-color: #c4c4c4;
    transition: max-width 0.4s ease-in 0s;
}

.img-bg:hover hr {
    width: 120px;
    transition: max-width 0.4s ease-in 0s;
}

.img-bg:hover .element-visible {
    color:#02577A;
    font-weight: bold;
    visibility: visible;
    transition: max-width 0.4s ease-in 0s;
}
.element-visible {
    visibility: hidden;
}
.home {
    position: relative;
    display:flex;
    text-decoration: none;
    gap: 30px;
    left: 15px;
    top: 100px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.home:hover {
    position: relative;
    width: 191px;
    line-height: 20px;
    background-color:white;
    border:none;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    color:#02577A;
    text-decoration: none;
    font-weight: bold;  
    transition: max-width 0.4s ease-in 0s;
}

.calendar {
    position: relative;
    display:flex;
    text-decoration: none;
    gap: 30px;
    left: 15px;
    top: 130px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.calendar:hover {
    position: relative;
    width: 191px;
    line-height: 20px;
    background-color:white;
    border:none;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    color:#02577A;
    text-decoration: none;
    font-weight: bold;  
    transition: max-width 0.4s ease-in 0s;
}

.fe {
    position: relative;
    display:flex;
    text-decoration: none;
    gap: 30px;
    left: 15px;
    top: 160px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.fe:hover {
    position: relative;
    width: 191px;
    line-height: 20px;
    background-color:white;
    border:none;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    color:#02577A;
    text-decoration: none;
    font-weight: bold;  
    transition: max-width 0.4s ease-in 0s;
}

.games {
    position: relative;
    display:flex;
    text-decoration: none;
    gap: 30px;
    left: 8px;
    top: 190px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.games:hover {
    position: relative;
    width: 198px;
    line-height: 20px;
    background-color:white;
    border:none;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    color:#02577A;
    text-decoration: none;
    font-weight: bold;  
    transition: max-width 0.4s ease-in 0s;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.top-text {
    position: absolute;
    width: 890px;
    height: 42px;
    top: 60px;
    font-size: 20px;
}

.loading {
    position: absolute;
    top: 190px;
    width: 90px;
    height: 90px;
    border: 3px solid #C4C4C4;
    border-radius: 50px;  
    border-right-color: #02577A;
    border-bottom-color: #02577A;
    padding-top: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #02577A;
}

.box-1 {
    position: absolute;
    top: 380px;
    width: 612px;
    height: 73px;
    background-color: #02577A;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-1-arrow {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    background-color: #ffffff;
}
.box-1-title {
    margin-left: 10%;
    text-transform: uppercase;
    color: #ffffff;
}

.box-1-inside {
    position: absolute;
    top: 450px;
    width: 612px;
    height: 139px;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    box-sizing: border-box;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px; 
}

.box-2 {
    position: absolute;
    top: 620px;
    width: 612px;
    height: 73px;
    background-color: #02577A;
    border-radius: 25px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-2-arrow {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    background-color: #ffffff;
}
.box-2-title {
    margin-left: 10%;
    text-transform: uppercase;
    color: #ffffff;
}

.box-3 {
    position: absolute;
    top: 720px;
    width: 612px;
    height: 73px;
    background-color: #02577A;
    border-radius: 25px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-3-arrow {
    width: 25px;
    height: 25px;
    margin-top: 200px;
    margin-left: 10%;
    margin-top: 0px;
    background-color: #ffffff;
}
.box-3-title {
    margin-left: 10%;
    text-transform: uppercase;
    color: #ffffff;
}

.middle {
    width: 1340px;
    height: 302px;
    top: 821px;
    position: absolute;
    align-items: center;
    margin-left: 100px;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
}
.arrow-left {
    width: 20px;
    color: #02577A;
    margin-left: 300px;
    
}
.response {
    box-sizing: border-box;
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid #02577A;
    border-radius: 25px;  
}

.arrow-right {
    width: 20px;
    color: #02577A;
    margin-right: 420px;    
}

.select {
    position: absolute;
    width: 230px;
    margin-left: calc(50% - 115px);
    height: 30px;
    bottom: 180px;
    
    border: 2px solid #02577A;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffff;
}
.select-text {
    margin-top: 5px;
}

.buttom {
    width: 346px;
    position: absolute;
    margin-left: calc(50% - 173px);
    text-align: center;
    bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #02577A;  
    border-top: 1px solid #02577A;
    padding: 11px 0;
}
