/*base*/
@import '../base/base.css';
@import '../base/nav.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/*components*/

/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/

.nav:hover .fe-link .element-visible {
    color: var(--collor-main);
}
.fe-link img{
    filter: var(--icon-filter-main);
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-background);
    height: 100vh;
    width:calc(100% - 100px);
    margin-left: 100px;
    min-width: 300px;
}
.hero h3 {
    width: 70%;
    font-size: 1.2em;
    font-weight: 600;
}
.loading {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center; 
    overflow: hidden;
    width: 4em;
    height: 4em;
    font-size: 0.8em;
    font-weight: 500;
    padding: 3.2em;
    border-radius: 50%;
    color:var(--collor-main);
    text-transform: uppercase;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
    z-index: 1 ;  
}
@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
  }
.loading::before {
    content: '';
    position: absolute;
    display: block;
    background: var(--collor-border-loading);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -2;
    animation: spin 1.5s linear infinite;   
}
.loading::after {
    content: '';
    position: absolute;
    inset: 0.2em;
    background: var(--color-background);
    z-index: -1;
    border-radius: 50%;
}
.tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    border-radius: 1.2em;
    overflow: hidden; 
}
.tab {
    width: 100%;
    color: var(--collor-second);
    overflow: hidden;
    border-radius: 1.2em;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
    padding: 1.2em 0.8em 1.2em 3em;
    background: var(--collor-main);
}
.tab-label:hover {
   cursor: pointer;
}
.tab-label i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 2em;
    height: 2em;
    font-size: 1em;
    background-color: var(--collor-second);
    cursor: pointer;
    text-align: center;
    transition: all 0.05s;
    color: var(--collor-main);
    margin-right: 1.4em;
}
.tab-content {
    max-height: 0;
    padding-left: 20px;
    background:var(--collor-second);
    transition: all 0.2s;
    color: var(--collor-main-font);
    font-size: 0.9em;
    font-weight: 600;
}
.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
input:checked + .tab-label i {
    transform: rotate(180deg);
    transition: all 0.02s;
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1.5em;
}
.hero .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: var(--collor-second);
    padding: 1.5em;
}
.hero .box i {
    color: var(--collor-main);
    width: 3em;
    font-size: 1.5em;
    text-align: center;
}

.slider {
    width: 45%;
    height: 15em;
    text-align: center;
    overflow: hidden;
    position: relative;
    
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
  }
 
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 15em;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: var(--collor-second);
    transform-origin: center center;
    transform: scale(1);
    background-color: transparent;
  }
  
  .slide__text {
    display: flex;
    align-items: center;
    width: 70%;
    height: 12em;
    font-size: 0.9em;
    padding: 1.5em 2em 1.5em 2em;
    background-color: transparent;
    border: 2px solid var(--collor-main);
    border-radius: 1.5em;  
    font-weight: 600;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
  left: -1em;
  }
  
  a.slide__next,
  .slider::after {
   right: 0.5em;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 3em;
    height: 3em;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
.tab-selector {
    /* border: 2px solid var(--collor-main); */
    border-radius: 1.5em;
    text-align: center;
    background-color: var(--collor-second);
    
    position: relative;
}
.theme-btn {
    font-size: 1em;
    padding: 0.5em;
   
    border: none;
    background-color: transparent;
  }

  .tab-selector label {
    font-size: 1em;
    padding: 0.5em;
    border: 2px solid var(--collor-main);
    border-radius: 1.5em;
    text-align: center;
    background-color: var(--collor-second);
    
    font-weight: 600;
    text-align: center;
    display: block;
    position: relative;
  }

  .tab-selector [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer;
  }
  .content-theme {
    position: absolute;
    bottom: 0;
    left: 110%;
    opacity: 0;
    border: 1px solid var(--collor-main);
    border-radius: 2em;
    
    background: var(--collor-second);
    color: var(--collor-main);
    padding: 20px;
    
  }
  .content-theme ul {
    padding: 0;
    list-style: none;
    float: right;
    
  }
  .content-theme button {
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px;

  }
  .content-theme .blue {
   color: #02577A
  }

  .content-theme .green {
   color:#3e7a02;
}

.content-theme .flowers {
    color:#4c027a;
}

.content-theme .sachara {
    color:#b1a200;
}
  [type="radio"]:checked ~ label {
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .content-theme  {
    z-index: 1;
    opacity: 1;
  }
  
  .close-tab {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .close-tab label {
    background: var(--collor-main);
    color: var(--collor-second);
  }
  [type="radio"]:checked ~ label ~ .close-tab {
    z-index: 3;
  }