/*base*/
@import '../base/base.css';
@import '../base/nav.css';

/*3rd-party*/

/*components*/
@import '../components/clock.css';
/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/

.home-link {
    
    
}
.content {
    padding-top: 50px;
    font-size: 36px;
    font-weight: 500;  
}
.hi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
}
.content p {
    width: 341px;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hi .timer {
    width: 516px;
    height: 147px;
    border-radius: 25px;
    background-color: var(--collor-second);
}
.photo {
    width: 100vw;
    height: 35vh;
    left: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: var(--collor-background);
    background-image: url(../../img/workplace.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:calc(50% - (35vw - 50px));
    width: 70vw;
    height: 121px;
    border: 2px solid var(--collor-main);
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
}
@media (max-width:1200px) {
    .hi {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        top: 40px;
        gap: 30px;   
        transition:gap 0.05s ease-in-out;
    }
    .hi {
        gap: 8px;
}
    .hi .timer {
        padding: 20px;
        width: 60vw; 
    }
    .hi p {
        width: 60vw;
        height: 80px;
        font-size: 29px;
        line-height: 35px;
        padding: 20px;
    }
    .photo {
        width: 100vw;
        height: 25vh;
        
        transition: top 0.05s ease-in-out
    }
    .quote {
        
        transition:top 0.05s ease-in-out;
    }
}