/*base*/
@import '../base/base.css';
@import '../base/nav.css';

/*3rd-party*/

/*components*/
@import '../components/clock.css';
/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/


.nav:hover .home-link .element-visible {
    color: var(--collor-main);
}
.home-link img{
    filter: var(--icon-filter-main);
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width:calc(100% - 100px);
    margin-left: 100px;
    min-width: 300px;
    font-size: 2.3em;
    font-weight: 500;  
}
.content .hi {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 5%;
}
.content p {
    width: 13em;
    height: 4em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hi .timer {
    width: 13em;
    height: 4em;
    border-radius: 25px;
    background-color: var(--collor-second);
}
.photo {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 35%;
    background-color: var(--collor-background);
    background-image: url(../../img/workplace.png);
    background-repeat: no-repeat;
    background-size:cover; 
}
.quote {
    position: absolute;
    top:65%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 8em;
    border: 2px solid var(--collor-main);
    border-radius: 25px;
    text-align: center;
    font-size: 0.45em;
    line-height: 20px;
}
@media (max-width:1200px) {
    .hi {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        top: 40px;
        gap: 30px;   
        transition:gap 0.05s ease-in-out;
    }
    .hi {
        gap: 1em;
}
    .hi .timer {
        padding: 0.5em;
        width: 60vw; 
        height: 3em;
    }
    .hi p {
        width: 60vw;
        height: 2em;
        font-size: 0.8em;
        line-height: 0.9em;
        padding: 1em;
    }
}