/*base*/
@import '../base/base.css';


/*3rd-party*/

/*components*/
@import '../components/clock.css';
/*CUSTOMS STYLE GOES BELOW THIS COMMENT LINE*/

.home {
    filter: none;
}

.content {
    padding-top: 50px;
    font-size: 36px;
    font-weight: 500;  
}
.hi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-left: 100px;
}

.content p {
    width: 341px;
    height: 80px;
   
}
.hi .timer {
    width: 516px;
    height: 147px;
    border-radius: 25px;
    background-color: white;
    
}
.photo {
    width: 100vw;
    height: 35vh;
    left: 0px;
    top: 180px;
    background-color: #EBEEF5;
    background-image: url(../../img/workplace.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.quote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(50% - calc(35vw - 50px));
    top: 700px;
    width: 70vw;
    height: 121px;
    border: 2px solid #02577A;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding-top: 42px;  
}

@media (max-width:1200px) {
    .hi {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        top: 40px;
        gap: 30px;   
        transition:gap 0.05s ease-in-out;
    }
    .hi {
        gap: 8px;
}
    .hi .timer {
        padding: 20px;
        width: 60vw; 
    }
    .hi p {
        width: 60vw;
        height: 80px;
        font-size: 29px;
        line-height: 35px;
        padding: 20px;
    }
    .photo {
        width: 100vw;
        height: 35vh;
        top: 260px;
        transition: top 0.05s ease-in-out
    }
    .quote {
        top: 790px;
        transition:top 0.05s ease-in-out;
    }
}






