.content {
width: 1440px;
height: 906px;
background: #EBEEF5;
}

.img-bg {    
width: 100px;
height: 906px;
left: 0px;
top: calc(50% - 906px / 2 );
background: #F7F6FF;
transition: max-width 0.4s ease-in 0s;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
        
.img-bg:hover {   
width: 206px;
height: 906px;
left: 0px;
top: 0px;
background: #F7F6FF;
transition: max-width 0.4s ease-in 0s;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-logo {
position: relative;
width: 68px;
height: 34px;
left: 16px;
top: 50px;
left: 50%;
transform: translateX(-50%);
}

.hr {
position: relative;
width: 68px;
height: 2px;
top: 60px;
border:none;
margin: auto;
background-color: #c4c4c4;
transition: max-width 0.4s ease-in 0s;
}

.img-bg:hover hr {
width: 120px;
transition: max-width 0.4s ease-in 0s;
}

.vector-1 {
position: relative;
left: 10px;
top: 100px;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
background-color: white;
border: 4px solid white;
border-bottom-left-radius: 19px;
border-top-left-radius: 19px;
}

.img-bg:hover .vector-1 {
position: relative;
left: 10px;
top: 100px;
padding: 5px;
padding-left: 20px;
padding-right: 130px;
line-height: 20px;
background-color: white;
text-decoration: none;
border: 4px solid white;
border-bottom-left-radius: 19px;
border-top-left-radius: 19px;
}

.home {
visibility: hidden;
}

.img-bg:hover .home {
position: relative;
top: 68px;
left: 90px;
color:#02577A;
text-decoration: none;
font-weight: bold;
visibility: visible;
}

.vector-2 {
position: relative;
left: 10px;
top: 100px;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
line-height: 20px;
}

.calendar {
visibility: hidden;    
}

.img-bg:hover .calendar {
position: relative;
top: 90px;
left: 18px;
color:#02577A;
text-decoration: none;
font-weight: bold;
visibility: visible;
}

.vector-3 {
position: relative;
left: 10px;
top: 100px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
line-height: 20px;
}

.img-bg:hover .vector-3 {
    position: relative;
    left: 10px;
    top: 118px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
}

.fe {
visibility: hidden;    
}
    
.img-bg:hover .fe {
position: relative;
top: 100px;
left: 18px;
color:#02577A;
text-decoration: none;
font-weight: bold;
visibility: visible;
}

.vector-4 {
position: relative;
left: 3px;
top: 120px;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
line-height: 20px;
}

.img-bg:hover .vector-4 {
position: relative;
left: 3px;
top: 138px;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
line-height: 20px;
}

.games {
visibility: hidden;    
}

.img-bg:hover .games {
position: relative;
top: 126px;
left: 5px;
color:#02577A;
text-decoration: none;
font-weight: bold;
visibility: visible;
}

.buttom {
width: 346px;
position: relative;
margin-left:calc(50% - 173px);
text-align: center;
bottom: 30px;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
color: #02577A;  
border-top: 1px solid #02577A;
padding: 11px 0;
}